.main {
    display: grid;
    place-items: center;
}
.main > div {
    display: grid;
    grid-template-rows: 11fr 1fr;
    justify-items: center;
    gap: 1rem;
    width: 70vw;
    max-height: 97vh;
    padding: 1rem;
}
.main section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 1rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: #c5c5c5 1px 1px 10px;
}
.main section > ul {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main section > ul li {
    background: #fafafa;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
    margin-inline: 5px;
}
.main section > ul li:not(.checked):hover {
    background: #f0f0f0;
    box-shadow: inset #fff 0 0 10px;
}
.toursLayout {
    display: grid;
    align-items: center;
    margin-top: 0 !important;
    overflow: hidden;
    padding: 1rem;
    box-shadow: #f0f0f0 0 0 10px;
    border-radius: 10px;
    width: 100%;
}
.toursLayout > div {
    height: fit-content;
    max-height: 100%;
    grid-template-columns: repeat(6, 1fr) !important;
    overflow-y: scroll;
    padding: 1rem;
}
.toursLayout > div::-webkit-scrollbar {
    display: none;
}
.main li.checked {
    background: #c0c0c0;
    font-weight: bold;
}