.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url(/nature_2.jpg) no-repeat 50% 50%;
    background-size: cover;
    min-height: 500px;
    padding: 20px;
    width: 100%;
}

.filterContainer h3 {
    font-size: 1.5rem;
}

.filterContainer p {
    font-size: .9rem;
    padding: 10px 10px 10px 0;
    max-width: 500px;
    min-height: 160px;
}

.filterContainer > div {
    background: #ffffff38;
    margin-top: 50px;
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 20px;
    max-width: 100%;
}

.filterContainer form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 20px;
}

.filterContainer form input {
    padding: 10px 5px;
    width: 150px;
    margin-inline: 3px;
    border: 0;
    border-radius: 5px;
}

.buttonFind {
    position: relative;

    padding: 10px 10px 10px 34px;
    border: 0;
    border-radius: 10px;
    background: #fff;

    transition: all .2s linear;
}

.buttonFind:hover {
    color: #c1beb1;
    background: #000000;
}
.dates {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border-radius: 5px;
    gap: 3px;
}
.dates button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;
    height: 100%;
    width: 110px;
    border: 0;
    background: #fff;
    border-radius: 5px;

    transition: all .2s linear;
}
.dates span {
    display: block;
    border-bottom: #00000082 1px solid;
    height: 20px;
    width: 100%;
}
.dates button:hover {
    color: #000000;
    background: #fdecdd;
}
.dates button:hover span {
    border-bottom: #c1beb1 1px solid;
}

.buttonFind:hover .loupe {
    background: #fff;
}

.picture {
    position: absolute;
    top: -20px;
    right: -50px;

    width: 350px;
    height: 220px;
    background: url(/nature.jpg) no-repeat 50%;
    border-radius: 20px;
    background-size: cover;
}

.loupe {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 2px;
    top: 3px;

    width: 30px;
    height: 30px;
    border-radius: 10px;
    
    transition: all .2s linear;
}
.loupe img {
    width: 15px;
    height: 15px;
}

@media (max-width: 1030px) {
    .picture {
        display: none;
    }
    .filterContainer form {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        justify-content: center;
    }
    .filterContainer form input,
    .filterContainer form button {
        width: 100%;
        margin-block: 5px;
    }
    /* .filterContainer form button {
        width: 100%;
        margin-block: 5px;
    } */
    .dates, .filterContainer form button {
        margin-left: 3px;
        margin-right: -1px;
    }
    .dates button {
        padding-block: 0;
    }
}