footer {
  display: flex;
  justify-content: center;
  
  background: #fdecdd;
  width: 100%;
  padding: 20px;
  margin-top: 1rem;
  min-height: 200px;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 70%;
}

footer > div > div {
  background: #c2c2c239;
  color: #000;
  border-radius: 20px;
  padding: 10px 20px;
}
footer > div > div p {
  font-size: .6rem;
}

footer > div * {
  margin: 5px 10px;
}

footer > div p {
  font-size: .5rem;
  width: 245px;
}
footer > div > p {
  color: #c1beb1;
}

@media (max-width: 768px) {
  footer > div {
    flex-direction: column-reverse;
  }
  footer > div > div p {
    width: 200px;
  }
}