.containerForm {
  display: grid;
  place-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #ffffff38;
  backdrop-filter: blur(4px);
  opacity: 0;

  animation: .5s visible forwards;
}

@keyframes visible {
  to {
    opacity: 1;
  }
}

.containerForm > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: relative;
  
  padding: clamp(25px, 5vw, 50px);
  width: clamp(300px, 90vw, 400px);
  border-radius: 20px;
  background: #fff;
  box-shadow: #fdecdd 0 3px 10px;
}
.containerForm > div#signUp {
  width: clamp(300px, 90vw, 500px);
}
.containerForm > div#signUp #i1 {
  position: absolute;
  top: -15%;
  left: -30%;
  height: 130%;
  width: clamp(800px, 90vw, 350px);
  border-radius: 20px;
}
.containerForm > div #i1 {
  position: absolute;
  top: -20%;
  left: -40%;
  z-index: -5;
  height: 130%;
  width: clamp(300px, 90vw, 250px);
}
.containerForm > div form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.containerForm > div form > div {
  display: flex;
  gap: 10%;
}
.containerForm > div form *:not(input) {
  margin-block: 10px;
}
.containerForm > div form input {
  padding: 10px;
  margin-block: 10px;
  border: none;
  box-shadow: #00000035 0 3px 10px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
}
.containerForm > div form button {
  padding: 15px 40px;
  background: #fdecdd;
  border-radius: 5px;
  border: 0;
  border-bottom: 5px #f2801c26 solid;
  transition: all 0.3s ease-out;
}

.containerForm > div form a {
  font-weight: 700;

  transition: all .3s linear;
}
.containerForm > div form a:hover {
  text-decoration: underline;
  color: #ffddbf;
}

.popUpForm, .userPopupForm {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  
  height: 100vh;
  width: 100%;
  background: #ffffff38;
  backdrop-filter: blur(4px);
  opacity: 0;

  animation: .5s visible forwards;
}

.popUpForm form::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.popUpForm form {
  display: flex;
  flex-direction: column;
  
  max-height: 80%;
  position: relative;
  padding: clamp(25px, 5vw, 10px);
  width: clamp(200px, 90vw, 500px);
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
  background: #fff;
  box-shadow: #fdecdd 0 3px 10px;
}
.popUpForm form input {
  padding: 10px;
  margin-block: 10px;
  border: none;
  box-shadow: #00000035 0 3px 10px;
  border-radius: 5px;
  font-size: 1rem;
}
.popUpForm form select {
  padding: 10px;
  margin-block: 10px;
  border: none;
  box-shadow: #00000035 0 3px 10px;
  border-radius: 5px;
  font-size: 1rem;
}
.popUpForm form button:not(.exit) {
  padding: 15px 40px;
  background: #fdecdd;
  border-radius: 5px;
  border: 0;
  border-bottom: 5px #f2801c26 solid;
  transition: all 0.3s ease-out;
}
.popUpForm span {
  margin: 20px 0;
  font-weight: 900;
}


.userPopupForm {
  display: grid;
}
.userPopupForm form::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.userPopupForm form {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  background: #fff;
  box-shadow: #fdecdd 0 3px 10px;
  padding: clamp(25px, 5vw, 30px);
  width: clamp(200px, 90vw, 450px);
  overflow: scroll;
  overflow-x: hidden;
  max-height: 80%;
  scale: 0;

  animation: appear 0.5s forwards ease-in-out;
}
.userPopupForm form *:not(input, .exit) {
  margin-block: 10px;
}
.userPopupForm form * {
  color: #000000;
}
.userPopupForm form input {
  padding: 10px;
  margin-block: 10px;
  border: none;
  box-shadow: #00000035 0 3px 10px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}
.userPopupForm form button:not(.exit) {
  padding: 15px 40px;
  background: #fdecdd;
  border-radius: 5px;
  border: 0;
  border-bottom: 5px #f2801c26 solid;
  transition: all 0.3s ease-out;
}
.userPopupForm form button:last-child:hover {
  color: #bc9191;
  background: none;
  border: #bc9191 1px solid;
}
@keyframes appear {
  to {
    scale: 1;
  }
}

.exit {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 35px;
  height: 35px;
  background: #fdecdd;
  padding: 0;
  border: 0;
  border-radius: 10px;
  
  transition: all .2s linear;
  cursor: pointer;
}

.exit:hover {
	background: transparent;
	border-bottom-width: 5px !important;
}

.exit::after {
  content: '>';
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
}
