.mainTourInfo {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 40px;
}

.mainTourInfo p,
.mainTourInfo h3 {
	margin: 10px 0;
}

.mainTourInfo p {
	font-size: .8rem;
}

.mainTourInfo>div {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 30px;

	max-width: 800px;
}

.containerImgs {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}

.containerImgs div:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 450px;
	height: 500px;
}

.containerImgs div:nth-child(1) img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: #3b3b3b81 0 0 10px;
	background: #000;
	color: #fff;
}

.containerImgs div:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerImgs div:nth-child(2) img {
	width: 45px;
	height: 45px;
	border-radius: 10px;
	margin: 10px 5px;
	cursor: pointer;
	filter: brightness(50%);

	transition: all .2s linear;
}

.containerImgs div:nth-child(2) span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 10px;
	margin: 10px 5px;
	cursor: pointer;

	transition: all .2s linear;
}

.containerImgs div:nth-child(2) span:not(.imgItem) button {
	width: 75%;
	background: #f2801c26;
	border: 0;
	border-radius: .5rem;
	aspect-ratio: 1/1;
}

.thumnails.active {
	border-color: #007bff;
	filter: brightness(100%) !important;
}

.imgItem {
	position: relative;
}

.imgItem button {
	background: red;
	border: 1px solid #9b0000;
	border-radius: .5rem;
	width: 50%;
	aspect-ratio: 1/1;
	position: absolute;
	bottom: 0;
	right: 0;
	translate: 25% 25%;
}

.dataTourContainer {
	min-width: 500px;
}

.bookButton {
	margin-top: 20px;
	padding: 15px 40px;
	border: 0;
	border-bottom: 0px #f2801c26 solid;
	border-radius: 10px;
	background: #f2801c26;
	border-bottom-width: 5px;
}

.label {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: .3rem;
}

.label:not(.underline) input {
	padding: .5rem .3rem;
}
.label * {
	line-height: normal;
}

.itemsBox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: .1rem;
}

.itemsBox {
	background: #505050;
	padding: .3rem;
	border-radius: .5rem;
}
.itemsBox * {
	border: 0;
	background: transparent;
	color: #fff;
	background: #505050;
}

.itemsBox .label {
	display: flex;
	flex-flow: row nowrap;
}

.label.underline {
	border-bottom: 1px solid;
	width: 15%;
}

.label.underline p {
	margin-right: .3rem;
}

.label.underline * {
	line-height: 0;
}

.label.underline input {
	width: 100%;
}

.dateBox {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}
.dateBox>div:not(:last-child) {
	display: flex;
	flex-flow: column;
	background-color: #505050;
	gap: .3rem;
	padding: .5rem;
	border-radius: .5rem;
}
.dateBox>div:not(:last-child) > button {
	background: #9b0000;
	color: #fff;

	padding-block: .5rem;
	border: 0;
}
.dateBox>div:not(:last-child) > label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .3rem;
}
.dateBox>div:not(:last-child) > label span {
	color: #fff;
	display: block;
	width: 40%;
}
.dateBox>div:not(:last-child) > label input {
	background: transparent;
	color: #fff;
	text-align: end;
	font-weight: bold;
	font-size: 1.3rem;

	padding: .5rem 0;
	border: 0;
	width: 60%;
}

textarea {
	width: 100%;
	padding: .5rem;
}

.scrollable {
	overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
	display: none;
}
ul {
	display: flex;
	flex-flow: row wrap;
	gap: .3rem;
}
li {
	display: flex;
	align-items: center;
	gap: .3rem;
	border-radius: .3rem;
	padding: .5rem;
	cursor: pointer;
}
li.active {
	background: #f2801c26;
}

@media (max-width: 1024px) {
	.mainTourInfo>div {
		flex-direction: column;
	}

	.dataTourContainer {
		max-width: 500px;
		padding: 0 0 50px 0;
	}
}

@media (max-width: 555px) {
	.containerImgs div:nth-child(1) img {
		width: 70%;
		height: 90%;
	}

	.containerImgs div:nth-child(1) {
		height: 400px;
	}

	.dataTourContainer {
		min-width: 0;
		width: 400px;
		padding: 0 50px 50px 80px;
	}

	.dataTourContainer>*:not(h3, h1, div) {
		font-size: .7rem;
		width: 300px;
	}
}