.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
	grid-auto-rows: max-content;
	gap: 1rem;
	overflow-y: scroll;
}
.main::-webkit-scrollbar {
	display: none;
}
.item {
	display: flex;
	flex-flow: column nowrap;
	gap: .3rem;
	border-radius: .5rem;
	box-shadow: #f5f5f5 0 0 7px;
}
.item h2 {
	margin-bottom: .3rem;
}
.item button {
	border: 0;
	border-radius: .3rem;
	padding: .5rem 1rem;
	background: transparent;
	box-shadow: #f9f9f9 0 0 5px;
}